body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.delete{
  background-color: rgb(161, 35, 35);
  border: 0px ;
  padding: 10px ;
  border-radius: 10px;
  color: white;
}
button.column_button{
  background-color: chartreuse;
  color: white;
}
button.column_button:hover{
  background-color: blueviolet;
}
.sortButton{
  width: auto;
  height: auto;
  color: aliceblue;
  border: none;
  background-color: black;
}
button:hover{
  cursor: pointer;
}